.form {
    display:flex;
    flex-direction: column;
    margin: 2%;
}

mat-hint {
    color: gray;
}

h1 {
    font-size: 20px;
    margin: 2%;
}

mat-card {
    margin: 2%;
}

#message {
    height: 80%;
}

.container_bottom {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.inner_container_bottom {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: scroll;
    margin-bottom: 2%;
}
