<div class="container">
    <mat-card class="container_inner">
        <div *ngIf="!alreadyLogged">
            <mat-card-title>Login</mat-card-title>

            <form [formGroup]="login" ngForm class="form" (ngSubmit)="logIn()" #formupdate>

                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" placeholder="Username" name="username" required>
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'"
                        placeholder="Password" name="password" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>

                <div *ngIf="login.errors?.['unauthenticated']">
                    Username or Password incorrect!
                </div>

                <div class="btn">
                    <button mat-raised-button color="primary" type="submit"
                        [disabled]="login.invalid || alreadyLogged"><mat-icon>login</mat-icon>Login</button>
                </div>
            </form>
        </div>

        <div *ngIf="alreadyLogged">
            <mat-card-title>Profile</mat-card-title>

            <img [src]="'https://ui-avatars.com/api/?name=' + UserInitials" width="200" height="200" priority>

            <mat-card-content>
                <mat-divider></mat-divider>
                <p>Utilisateur : {{ activeUser.username }}</p>
                <p>Nom : {{ activeUser.prenom }} {{ activeUser.nom }}</p>
                <p>Role : {{ activeUser.role }}</p>
            </mat-card-content>

            <div class="btn_logout">
                <button mat-raised-button color="primary"
                    (click)="login.reset(); logOut();"><mat-icon>logout</mat-icon>Logout</button>
            </div>
        </div>

    </mat-card>
</div>