mat-sidenav-container {
    height: calc(205vh - 113vh);
}

mat-sidenav {
    width: auto;
    /* background-color: cornflowerblue; */
}

mat-toolbar {
    flex: 1 1 auto;
}

.mat-sidenav-content{
    overflow: auto;
}

.mat-sidenav-content button {
    display: block;
    width: 100%;
    margin: 2px;
    text-align: left;
}

.Login {
    color: white !important;
}

.btnNavbar {
    margin-right: 1%;
}

.btnHome {
    margin-right: 2%;
}

.spacer {
    flex: 1 1 auto;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

mat-list-item>mat-icon,
p {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

p>mat-icon {
    margin-right: 10px;
}

#connectMessage {
    margin-top: 4%;
    margin-left: 4%;
    color: red;
}