<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button class="btnNavbar" mat-raised-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
        <nav class="btnHome">
            <button mat-raised-button (click)="goHome()"><mat-icon>home</mat-icon>Home</button>
        </nav>
        <h1>{{title}}</h1>

        <span class="spacer"></span>
        <!-- <mat-slide-toggle class="Login" color="primary" (click)="login()">Login</mat-slide-toggle> -->
        <nav class="Login"><a routerLink="/login"><button mat-raised-button><mat-icon>account_box</mat-icon>{{ isLog() ?
                    'Profil: ' + activeUser.username : 'Login' }}</button></a></nav>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="mat-sidenav-container">
    <mat-sidenav [(opened)]="opened" mode="side" class="mat-sidenav-content">
        <div>
            <button type="button" mat-button [disabled]="!isLog()" routerLink="/add">
                Add Assignments
            </button>
            <button type="button" mat-button [disabled]="!isLog()" routerLink="/home">
                List Assignments
            </button>
            <button type="button" mat-button [disabled]="!isLog()" routerLink="/table-view">
                Table View
            </button>
            <button type="button" mat-button [disabled]="!isLog()" (onclick)="populateDBAssignments()">
                Generate Assignments
            </button>
            <button type="button" mat-button [disabled]="!isLog()" (onclick)="deleteDBAssignments()">
                Delete All Assignments
            </button>
            <button type="button" mat-button [disabled]="!isLog()" routerLink="/login">
                Profile
            </button>
            <p id="connectMessage" *ngIf="!isLog()"><i>Need to connect</i></p>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <!-- <app-assignments></app-assignments> -->
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- <app-button-template></app-button-template> -->