<form ngForm class="form" (submit)="assignmentForm.valid && onSubmit()" #assignmentForm="ngForm">
    <mat-form-field>
        <input matInput [(ngModel)]="nomDevoir" name="nom" placeholder="Nom du devoir" required>
    </mat-form-field>

    <!-- <p>{{nomDevoir}}</p> -->

    <mat-form-field>
        <mat-select matNativeControl [(ngModel)]="nomMatiere" placeholder="Nom de la matière" name="matiere" required>
            <mat-option *ngFor="let matiere of matieres" [value]="matiere.nom">{{ matiere.nom }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="dateRendu" [matDatepicker]="picker" name="date" placeholder="Date de rendu"
            required>
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="description" name="description" maxlength="250"></textarea>
    </mat-form-field>

    <!-- <button mat-stroked-button color="primary" [disabled]="!ajoutActive">
        Ajouter un devoir
    </button> -->

    <button class="btnAdd" mat-flat-button color="primary">
        Ajouter un devoir
    </button>
</form>