.rendu {
    color: green;
}

.nonRendu {
    color: red;
}

.ListDevoir {
    display:flex;
    flex-direction: column;
    margin:10px;    
}

.container {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.btnAjouter {
    align-self: flex-end;
}

hr {
    width: 100%;
    color: black;
}