<!-- <div class="ListDevoir" *ngFor="let assignment of assignments"
    [ngClass]="{'rendu':assignment.rendu, 'nonRendu': !assignment.rendu}">
    <p>
        Devoir intitulé {{assignment.nom}}, rendu le {{assignment.dateDeRendu | date}}, soumis par l'élève :
        {{assignment.rendu}}
    </p>
    <ng-template #nonsoumis>
        Le devoir {{assignment.nom}} n'a pas été rendu.
    </ng-template>
</div> -->

<main class="container">

    <div class="btnAjouter">
        <a [routerLink]="isLog() ? '/add': null" [style.pointer-events]="isLog() ? 'auto' : 'none'">
            <button class="btnAjouter" mat-flat-button color="accent" [disabled]="!isLog()">
                Ajouter Assignment
            </button>
        </a>
    </div>

    <mat-list *ngFor="let assignment of assignments; let last = last">
        <nav><a [routerLink]="isLog() ? '/assignment/' + assignment.id: null"
                [style.pointer-events]="isLog() ? 'auto' : 'none'">

                <mat-card>
                    <mat-card-content>
                        <mat-card-title>{{assignment.dateDeRendu | date}}</mat-card-title>
                        <mat-card-subtitle>
                            <p appRendu *ngIf="assignment.rendu; else nonsoumis" [ngClass]="{'rendu':assignment.rendu}">
                                Devoir intitulé {{assignment.nom}} a été rendu.
                            </p>
                            <ng-template #nonsoumis>
                                Le devoir {{assignment.nom}} n'a pas été rendu.
                            </ng-template>
                        </mat-card-subtitle>
                    </mat-card-content>
                </mat-card>
            </a></nav>

        <!-- <mat-divider *ngIf="!last" [inset]="true"></mat-divider> -->
    </mat-list>

    <!-- <app-assignment-detail [assignmentTransmis]="assignmentSelectionne" (deleteAssignment)="onDeleteAssignment($event)"
        *ngIf="detailVisible">
    </app-assignment-detail> -->
</main>

<!-- <app-add-assignment (nouvelAssignment)="onNouvelAssignment($event)" *ngIf="formVisible"></app-add-assignment> -->