<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button class="btnNavbar" mat-raised-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
        <nav class="btnHome"><a routerLink="/home"><button mat-raised-button><mat-icon>home</mat-icon>Home</button></a></nav>
        <h1>{{title}}</h1>

        <span class="spacer"></span>
        <!-- <mat-slide-toggle class="Login" color="primary" (click)="login()">Login</mat-slide-toggle> -->
        <nav class="Login"><a routerLink="/login"><button mat-raised-button><mat-icon>account_box</mat-icon>Login</button></a></nav>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">   
        <mat-nav-list class="inline-list">
            <mat-list-item [disabled]="!isLog()" routerLink="/home"><p><mat-icon>list</mat-icon>List Assignments</p></mat-list-item>
            <mat-list-item [disabled]="!isLog()" routerLink="/add"><p><mat-icon>add</mat-icon>Add Assignments</p></mat-list-item>
            <mat-list-item [disabled]="true" routerLink="/"><p><mat-icon>autorenew</mat-icon>Generate Assignments</p></mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <!-- <app-assignments></app-assignments> -->
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- <app-button-template></app-button-template> -->