<form ngForm class="form" (submit)="onSubmit(); assignmentForm.reset()" #assignmentForm>
    <mat-form-field>
        <input matInput [(ngModel)]="nomDevoir" name="nom" placeholder="Nom du devoir" required>
    </mat-form-field>

    <!-- <p>{{nomDevoir}}</p> -->

    <mat-form-field>
        <input matInput [(ngModel)]="dateRendu" [matDatepicker]="picker" name="date" placeholder="Date de rendu"
            required>
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- <button mat-stroked-button color="primary" [disabled]="!ajoutActive">
        Ajouter un devoir
    </button> -->

    <button class="btnAdd" mat-flat-button color="primary">
        Ajouter un devoir
    </button>
</form>