mat-card {
    margin: 2%;
    height: 90%;
}

mat-form-field {
    height: 70px;
}

mat-card-title {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
}

.table-container {
    height: 80%;
    overflow: auto;
}

table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

#nodata {
    text-align: center;
    font-size: 20px;
    color: grey;
    padding: 2%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bottom {
    display: flex;
}

.push {
    margin-left: auto;
}

.center {
    margin-top: auto;
    /* margin-bottom: auto; */
}